.banner {
background-size: cover;
background-position: center;
padding: 200px 0;
background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../images/spam-ramen.jpg);
}
.banner h1 {
  color: white;
}
.banner p {
  color: white;
  font-size: 20px;
  padding-bottom: 20px;
}
.btn-blue {
color: yellow;
background: #001641;
border-radius: 5px;
padding: 15px 25px;
font-weight: bold;
}
.btn-blue:hover {
background: #3ac162;
}
